//var(--color-brand);
@import './../../../../variables.scss';

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
  padding: $spaceL;
  height: 100%;
}

.leftBlock,
.rightBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $spaceM;

}


.title {
  font-size: $spaceL;
  font-weight: bold;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  gap: $spaceL;
  height: 100%;
}

.column {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: $spaceM;
    line-height: 1.5;
    padding: 8px 0;
    display: flex;
    align-items: start;
    gap: 10px;
  }

  .dinnerLogo {
    width: $spaceXL;
    height: $spaceXL;
    flex-shrink: 0;
  }

  .descr {
    text-align: left;
  }
}

.divider {
  position: relative;
  width: 2px;

}

.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background-color: #B5460F;
  border: 1px solid #B5460F;
  border-radius: 50%;
  z-index: 1;
}

.line {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 2px;
  background-color: #B5460F;
  transform: translateX(-50%);
  height: 95%;
}

@media (max-width: 1440px) {
  .container {
    gap: 30px;
    padding: $spaceM;
  }

  .title {
    font-size: $spaceM;
  }

  .columns {
    gap: $spaceM;
  }

  .dinnerLogo {
    width: $spaceL;
    height: $spaceL;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .leftBlock,
  .rightBlock {
    flex: none;
  }

  .columns {
    flex-direction: column;
    gap: $spaceS;
  }

  .line {
    display: none;
  }

  .circle {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: $spaceS;
  }

  .title {
    font-size: $spaceS;
  }

  .column li {
    font-size: $spaceXS;
    gap: 5px;
  }

  .dinnerLogo {
    width: $spaceM;
    height: $spaceM;
  }
}

@media (max-width: 375px) {
  .container {
    gap: 10px;
  }

  .title {
    font-size: $spaceS;
  }

  .column li {
    font-size: $spaceXS;
    gap: 3px;
  }

  .dinnerLogo {
    width: $spaceS;
    height: $spaceS;
  }
}