$spaceXL: 32px;
$spaceL: 24px;
$spaceXS: 8px;
$spaceS: 14px;
$spaceXXS: 4px;
$color-brand: var(--color-brand);
// TODO взять отступы из переменных

.card {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: white;
    align-items: stretch;
    width: 30%;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.25);
    }

    &__image {
        width: 100%;
        background-color: #d9d9d9;
        flex-grow: 0;
    }

    &__info {
        padding-top: $spaceXL;
        padding-bottom: $spaceXL;
        background-color: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    &__description {
        padding-bottom: $spaceL;
        padding-left: $spaceXS;
        padding-right: $spaceXS;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        flex-grow: 1;
    }

    &__caption {
        margin-bottom: $spaceXXS;
        font-size: $spaceS;
        color: #afadb5;
        font-weight: medium;
        flex-grow: 0;
    }

    &__title {
        display: flex;
        flex-grow: 1;
    }

    &__buy-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $spaceXS;
        padding-right: $spaceXS;
        flex-grow: 0;
    }

    &__price {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
}

@media (max-width: 730px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 400px) {
    .card {
        width: 100%;
    }
}