@import './../../../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 48px;

    &__search {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $spaceXL;

        &--grow {
            flex-grow: 1;
            margin-right: $spaceXL;
        }
    }

    .filterandsort {
        display: flex;
        flex-direction: row;
    }

    &__result {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $spaceXL;
    }

    &__resultOrReset {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: $spaceXL;
        justify-content: space-between;
        padding-left: $spaceL;
        padding-right: $spaceL;

    }
}

@media (max-width: 800px) {
    .container {

        .filterandsort {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
        }
    }
}

@media (max-width: 470px) {
    .container {

        &__resultOrReset {
            margin-bottom: 10px;
            justify-content: center;
        }

    }
}