.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    // margin-top: 90px;
    background-color: #FFC0763B;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    
    &--maxWidth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 100%;
    }

    &__products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        align-items: stretch;
    }
}

.titleImage-container {
  position: relative;
  width: 100%; // Ширина контейнера 100%
  padding-bottom: calc((572 / 1440) * 100%); // Сохраняем пропорции 1440:572
  overflow: hidden; // Обрезаем всё, что выходит за границы

  .titleImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // Масштабируем изображение, чтобы оно заполнило контейнер
    object-position: top; // Выравниваем изображение по верхней части контейнера
  }

  .overlay {
    position: absolute;
    top: 70%; // Позиционируем по вертикали по центру
    left: 50%; // Позиционируем по горизонтали по центру
    transform: translate(-50%, -50%); // Центрируем точно
    max-width: 80%; // Ограничиваем ширину наложенной картинки (по желанию)
    max-height: 80%; // Ограничиваем высоту наложенной картинки (по желанию)
    z-index: 1; // Убедитесь, что наложенная картинка выше основной
  }
}


@media (max-width: 730px) {
.container {
    padding-left: 20px;
    padding-right: 20px;

}
}


    // background-color: #FAFAFA;
