.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    margin-top: 90px;
    background-color: #FFC0763B;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    
    &--maxWidth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 100%;
    }

    &__products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        align-items: stretch;
    }
}

.titleImage {
    width: 100%;
}

@media (max-width: 730px) {
.container {
    padding-left: 20px;
    padding-right: 20px;

}
}


    // background-color: #FAFAFA;
