$spaceXS: 8px;

.original {
    padding: 17px var(--spaceL) 17px var(--spaceL);
    color: white;
    background-color: var(--color-brand);
    border: none;
    display: flex;
    gap: var(--spaceXXS);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 54px;
    border-radius: $spaceXS;
    overflow: hidden;


    &:hover {
        background-color: var(--color-brand-hover);
    }

    &:active {
        background-color: var(--color-brand-active);
    }
}

.loading,
.loading:hover {
    color: white;
    background-color: var(--color-brand);
}

.loading .disabled {
    color: white;
    background-color: rgb(167, 162, 162);
    cursor: not-allowed;
}

.disabled,
.disabled:hover {
    background-color: #D9D9D9;
    cursor: not-allowed;
padding: 15px;
}