.generalHeaderContainer {
    //  width: 100vw;
     width: 100%;
    //width: calc(100vw - (100vw - 100%));
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    background-color: #ffffff;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.headerContainer {
    display: flex;
    width: 100%;
    max-width: 1440px;
;
    flex-direction: row;
    justify-content: space-between;
}

.logoContent {
    display: flex;
    // width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    cursor: pointer;
}

.logoTitle {
    font-weight: bold;
}