.headerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.logoContent {
    display: flex;
    // width: 100%;
    flex-direction: row;
    justify-content: space-between;
}