@import './../../../variables.scss';

.container {
  position: relative;
  width: 300px;
}

.options {
  background-color: white;
  margin-top: $spaceXXS;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.18);
  font-size: $spaceM;
  font-weight: normal;
  position: absolute;
  width: 300px;
  z-index: 10;
  top: 50px;
  left: 0;

  &__option {
    padding: $spaceS $spaceXS;
    color: #000000;

    &:hover {
      color: $color-optionHover;
    }

    &--selected {
      padding: $spaceS $spaceXS;
      color: $color-brand;

      &:hover {
        color: $color-brand;
      }
    }
  }


}

@media (max-width: 350px) {
  .container {
    width: 200px;
  }

  .options {
    width: 200px;
  }
}