.container {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 50px;

    &__search {
        display: flex;
        flex-direction: row;
        margin-bottom: var(--spaceXL);

        &--grow {
            flex-grow: 1;
            margin-right: var(--spaceXL);
        }
    }

    &__filter {
        width: 300px;
    }

    &__result {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spaceXL);
    }
}

@media (max-width: 350px) {
    .container {
        &__filter {
            width: 200px;
        }
    }
}