@import './../../../variables.scss';

.pagination {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &__pagenumber {
        width: 38px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        &--active {
            background-color: $color-brand;
        }

        &:hover {
            background-color: $color-brand;
            cursor: pointer;
        }
    }

    &__arrow {
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $color-brand;
            cursor: pointer;
        }

        &:disabled {
            filter: grayscale(1) opacity(0.3);

            &:hover {
                background-color: transparent;
                cursor: not-allowed;
            }
        }
    }
}

@media (max-width: 310px) {
    .pagination {
        &__pagenumber {
            width: $spaceL;
            height: $spaceL;
            font-size: $spaceM;
        }

        &__arrow {
            width: $spaceL;
            height: $spaceL;

        }
    }

}