.container {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFC0763B;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    overflow-x: hidden;


    &--maxWidth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 100%;
    }

}


.decorativeImage {
    position: absolute;
    top: -70px;
    right: -20px;
    width: 500px;
    height: 500px;
    z-index: -1;
    pointer-events: none;
    opacity: 1;

    background-size: contain;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.recipe {}

.preInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
}

.card__image {
    width: 30%;
    height: auto;
    object-fit: contain
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin: 8vw;
}

.descrElement {
    width: calc(100% / 3);
    box-sizing: border-box;
}

.summary {
    padding: 48px;
    background-color: #B5460F54;
    border-radius: 24px;
    margin-right: 89px;
    margin-bottom: 48px;
    text-align: justify;
}