@use './../../../../variables.scss' as vars;

.container {
    &__search {
        display: flex;
        flex-direction: row;
        margin-bottom: vars.$spaceXL;

        &--grow {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: vars.$spaceXL;
        }
    }
}

@media (max-width: 310px) {
    .container {
        &__search {
            &--grow {
                margin-right: 2px;
            }
        }
    }
}