:root {
  display: flex;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-brand: #B5460F;
  --color-brand-hover: #B5460FB2;
  --color-brand-active: #872D01;
  --spaceXL: 24px;
  --spaceL: 20px;
  --spaceM: 16px;
  --spaceS: 14px;
  --spaceXS: 12px;
  --spaceXXS: 8px;
  --color-optionHover: #AFADB5
}

a {
  font-weight: 500;
  color: var(--color-brand);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 200px;
  min-height: 100vh;
  background-color: #FFC0763B;

  /* background-color: #FAFAFA; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}